.layout-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 100%;
    margin-left: -80%;
    transition: margin-left 0.6s;

    @media screen and (min-width: map-get($breakpoints, sm)) {
        grid-template-columns: 50% 100%;
        margin-left: -50%;
    }

    @media screen and (min-width: map-get($breakpoints, md)) {
        grid-template-columns: 40% 100%;
        margin-left: -40%;
    }

    @media screen and (min-width: map-get($breakpoints, lg)) {
        grid-template-columns: 20em calc(100% - 20em);
        margin-left: 0;
    }

    @media print {
        margin-left: 0;
        display: block;
    }

    &--show-aside {
        margin-left: 0;
    }

    &__col {
        padding: 5em 1.5em;
    }

    &__aside {
        min-height: 100vh;
        color: var(--secondary-text);
        background-color: var(--secondary-color);
        border-radius: 0 3em 0 0;
        position: relative;

        @media print {
            display: none;
        }
    }

    &__toggle {
        width: 2.4em;
        height: 2.4em;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 1.2rem;
        top: 1em;
        right: 1em;
        border: 2px solid var(--white-color);
        border-radius: 50%;
    }

    @media screen and (min-width: map-get($breakpoints, lg)) {
        &__toggle {
            display: none;
        }
    }


    &__main {
        position: relative;
        padding-top: 0;
    }

    &__main-inner {
        max-width: map-get($breakpoints, xl);
        margin-left: auto;
        margin-right: auto;
    }
}